.container{
    background-color:black;
    height: 45vh;

    margin-left: 0;
    margin-right: 0;
    
}
.main-row-kairys{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
   margin-right: 0;
}
.main-row-kairys h1{
    color:#fff ;
    font-size: 3.1rem;
}
.main-row-desinys{
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 100%;
   
}
.kvadratas-main-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}


.kvadratas-main-row h1{
  
    font-weight: bold;
    font-size: 3.1rem;
    color: #fff;

}
.kvadratas-main-row h3{
    color:#fff;
}
